Use below link for reference  <br>
https://www.geeksforgeeks.org/python-variables/  <br>
https://www.edureka.co/blog/variables-and-data-types-in-python/

## What are Variables in Python ?
Variable are like box which hold the value within itself, so that wherever we want to use that value we can call the variable.

In [4]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [2]:
from platform import python_version

print(python_version())

3.9.7

<img src="Techsunami.gif" width="200" align="left">

In [26]:
x = "techsunami"

In [27]:
print(x)

techsunami

### Rules for creating variables in Python
<ul>
    <li>A variable name must start with a letter or the underscore ( _ ) character.</li>
    <li>A variable name cannot start with a number.</li> 
    <li>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).</li>
    <li>Variable names are case-sensitive (name, Name and NAME are three different variables).</li>
    <li>
The reserved words(keywords) cannot be used naming the variable.
<pre>
                    <b>Below is a list of the Python Researved keywords</b>
    False               break               for                 not
    None                class               from                or
    True                continue            global              pass
    __peg_parser__      def                 if                  raise
    and                 del                 import              return
    as                  elif                in                  try
    assert              else                is                  while
    async               except              lambda              with
    await               finally             nonlocal            yield
</pre>
    </li>    
</ul>

In [19]:
and = "techlaunde"

SyntaxError: invalid syntax (1414066321.py, line 1)

In [42]:
# declaring the variable
number = 100
# display
print("Before declare: ", number)
 
# re-declare the variable
number = 120.3
print("After re-declare:", number)

Before declare:  100
After re-declare: 120.3

## Data Type in Python

<b>Variables</b> can store data of <b>different data types</b>, and different data types can do different things.<br>
Python has the following data types built-in by default, in these categories:
<pre>
<b>Text Type</b>:	str
<b>Numeric Types</b>:	int, float, complex
<b>Sequence Types</b>:	list, tuple, range
<b>Mapping Type</b>:	dict
<b>Set Types</b>:	set
<b>Boolean Type</b>:	bool
<b>None Type</b>:	NoneType
</pre>

In Python You <b>don't need to define</b> the data type it <b>automatic</b> understand the data type <br>
If you want to <b>check</b> the type of variable use <b> type(variable_name) </b>

#### Text Type

In [30]:
x = "techlaunde"
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- techlaunde
Type of variable -- <class 'str'>

#### Numeric Type

In [31]:
x = 12   # int
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- 12
Type of variable -- <class 'int'>

In [32]:
x = 12.5  # float
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- 12.5
Type of variable -- <class 'float'>

In [33]:
x = 12j  # complex
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- 12j
Type of variable -- <class 'complex'>

#### Sequence Types

In [34]:
x = [1,2,3,4]   # list
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- [1, 2, 3, 4]
Type of variable -- <class 'list'>

In [35]:
x = (1,2,3,4)  # tuple
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- (1, 2, 3, 4)
Type of variable -- <class 'tuple'>

In [36]:
x = range(6)   # range
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- range(0, 6)
Type of variable -- <class 'range'>

#### Mapping Type

In [37]:
x = {"name" : "techlaunde", "age" : 1}  #dictionary
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- {'name': 'techlaunde', 'age': 1}
Type of variable -- <class 'dict'>

#### Set Types

In [29]:
x = {"one", "two", "three"}  #set
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- {'one', 'two', 'three'}
Type of variable -- <class 'set'>

#### Boolean Type

In [39]:
x = 5 < 4
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- False
Type of variable -- <class 'bool'>

#### None Type

In [40]:
x = None
print(f"Variable Name -- {x}")
print(f"Type of variable -- {type(x)}")

Variable Name -- None
Type of variable -- <class 'NoneType'>

## Advance Learning

In [118]:
# int to str
x = 3   
print(f"Value of x is {x} and type is {type(x)}")

y = str(x)
print(f"Value of y is {y} and type is {type(y)}")

Value of x is 3 and type is <class 'int'>
Value of y is 3 and type is <class 'str'>

In [119]:
# str to int
x = "3"   
print(f"Value of x is {x} and type is {type(x)}")

y = int(x)
print(f"Value of y is {y} and type is {type(y)}")

Value of x is 3 and type is <class 'str'>
Value of y is 3 and type is <class 'int'>

In [120]:
# str to float
x = "3.5"   
print(f"Value of x is {x} and type is {type(x)}")

y = float(x)
print(f"Value of y is {y} and type is {type(y)}")

Value of x is 3.5 and type is <class 'str'>
Value of y is 3.5 and type is <class 'float'>

In [46]:
# Many Values to Multiple Variables
x, y, z = "one", "two", "three"
print(x, y, z)

one two three

In [48]:
# One Values to Multiple Variables
x = y = z = "techlaunde"
print(x, y, z)

techlaunde techlaunde techlaunde

In [49]:
#Unpack the collections
fruits = ["One", "Two", "Three"]
x, y, z = fruits
print(x)
print(y)
print(z)

One
Two
Three

## FAQ's

<h3>1. Can we use the same name for different types? </h3>
<p>If we use the same name, the variable starts referring to a new value and type.</p>

In [51]:
x = 10
x = "techlaunde"
 
print(x)

techlaunde

<h3>2. How does + operator work with variables? </h3>

In [52]:
a = 10
b = 20
print(a+b)
 
a = "tech"
b = "launde"
print(a+b)

30
techlaunde

<h3>3. Can we use + for different types also? </h3>

In [53]:
a = 10
b = "techlaunde"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'