# Python Operators

<p>An operators is a symbol that perfoms an operations</p>

<p>Below is the list of operators in python</p>

<ol>
	<li><h3>Arithmetic Operators</h3></li>
    <li><h3>Relational Operators</h3></li>
    <li><h3>Logical Operators</h3></li>
    <li><h3>Assingment Operators</h3></li>
    <li><h3>Bitwise Operators</h3></li>
    <li><h3>Membership Operators</h3></li>
    <li><h3>Identity Operators</h3></li>
</ol>

<h2>Arithmetic Operators</h2>
<p>Arithmetic operators are used to perfom basic arithmetic operations like additions, subtraction, division etc.</p>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operators</th>
    <th>Meaning</th>
    <th>Example</th>
    <th>Result</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>+</td>
    <td>Addition</td>
    <td>4+2</td>
    <td>6</td>
  </tr>
   <tr>
    <td>-</td>
    <td>Subtraction</td>
    <td>4-2</td>
    <td>2</td>
  </tr>
   <tr>
    <td>*</td>
    <td>Multiplication</td>
    <td>4*2</td>
    <td>8</td>
  </tr>
   <tr>
    <td>/</td>
    <td>Division</td>
    <td>4/2</td>
    <td>2</td>
  </tr>
   <tr>
    <td>%</td>
    <td>Modulus operator to get remainder in integer division</td>
    <td>5%2</td>
    <td>1</td>
  </tr>
   <tr>
    <td>**</td>
    <td>Exponent</td>
    <td>5**2=5<sup>2</sup></td>
    <td>25</td>
  </tr>
   <tr>
    <td>//</td>
    <td>Integer Division / Floor Division</td>
    <td>5//2</td>
    <td>2</td>
  </tr>
   </tbody>
</table>

<h4>Addition</h4>

In [54]:
num1 = 4
num2 = 2
print(num1+num2)

6

<h4>Subtraction</h4>

In [55]:
num1 = 4
num2 = 2
print(num1-num2)

2

<h4>Multiplication<h4>

In [56]:
num1 = 4
num2 = 2
print(num1*num2)

8

<h4>Division</h4>

In [57]:
num1 = 4
num2 = 2
print(num1/num2)

2.0

<h4>Modulus</h4>

In [58]:
num1 = 5
num2 = 2
print(num1%num2)

1

<h4>Exponent</h4>

In [59]:
num1 = 5
num2 = 2
print(num1**num2)

25

<h4>Integer Division</h4>

In [60]:
num1 = 5
num2 = 2
print(num1//num2)

2

<h3>Relational Operators</h3>
<p>Relational Operators are used to compare the value of operands (expressions) to produce a logical value. A logical value is either <code>True</code> or <code>False</code></p>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operators</th>
    <th>Meaning</th>
    <th>Example</th>
    <th>Result</th>
  </tr>
  </thead>
    <tbody>
  <tr align="center">
    <td> < </td>
    <td>Less than</td>
    <td>5 < 2</td>
    <td>False</td>
  </tr>
   <tr align="center">
    <td> > </td>
    <td>Greater than</td>
    <td>5 > 2</td>
    <td>True</td>
  </tr>
   <tr>
    <td> <= </td>
    <td>Less than or equal to</td>
    <td>5 <= 2</td>
    <td>False</td>
  </tr>
   <tr>
    <td> > </td>
    <td>Greater than or eqaul to</td>
    <td>5 >= 2</td>
    <td>True</td>
  </tr>
   <tr>
    <td> == </td>
    <td>Equal to</td>
    <td>5==2 </td>
    <td>False</td>
  </tr>
   <tr>
    <td> != </td>
    <td>Not Equal to</td>
    <td> 5!=2 </td>
    <td>True</td>
  </tr>
   </tbody>
</table>

<h4>Less than</h4>

In [61]:
num1 = 5
num2 = 2
print(5 < 2)

False

<h4>Greater than</h4>

In [62]:
num1 = 5
num2 = 2
print(5 > 2)

True

<h4>Less than or equal to </h4>

In [1]:
num1 = 5
num2 = 2
print(5 <= 2)

False

<h4>Greater than or equal to</h4>

In [64]:
num1 = 5
num2 = 2
print(5 >= 2)

True

<h4>Equal to</h4>

In [65]:
num1 = 5
num2 = 2
print(5 == 2)

False

<h4>Not equal to</h4>

In [66]:
num1 = 5
num2 = 2
print(5 != 2)

True

<h3>Logical Operators</h3>
<p>Logical operators are used to connect more relational operations to form a complex expression called logical expression. A value obtained by evaluating a logical expression is always logical i.e <code>True</code> or <code>False</code></p>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operator</th>
    <th>Meaning</th>
    <th>Example</th>
    <th>Result</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>and</td>
    <td>Logical and</td>
    <td>(5 < 2)and( 5> 3)</td>
    <td>False</td>
  </tr>
   <tr>
    <td> or </td>
    <td>Logical or</td>
    <td>(5 < 2)or(5 >3)</td>
    <td>True</td>
  </tr>
   <tr>
    <td> not </td>
    <td>Logical not</td>
    <td>not (5<2)</td>
    <td>True</td>
  </tr>
   </tbody>
</table>

<h4>and operator</h4>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operand 1</th>
    <th>Operand 2</th>
    <th>Result</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>True</td>
    <td>True</td>
    <td>True</td>
  </tr>
   <tr>
    <td>True</td>
    <td>False</td>
    <td>False</td>
  </tr>
   <tr>
    <td>False</td>
    <td>True</td>
    <td>False</td>
  </tr>
  <tr>
    <td>False</td>
    <td>False</td>
    <td>False</td>
  </tr>      
  <tr>
    <td>True</td>  
    <td>Expression</td>
    <td>Expression</td>
  </tr>
  <tr>
    <td>False</td>  
    <td>Expression</td>
    <td>False</td>
  </tr>
    
   </tbody>
</table>

<h4>Logical and</h4>

In [67]:
num1 = 5
num2 = 3
num3 = 2
print(num1>num2 and num2>num3)

num1 = 5
num2 = 3
num3 = 2
print(num1>num2 and num2<num3)

num1 = 5
num2 = 3
num3 = 2
print(num1<num2 and num2>num3)

num1 = 5
num2 = 3
num3 = 2
print(num1<num2 and num2<num3)

True
False
False
False

<h4>or operator</h4>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operand 1</th>
    <th>Operand 2</th>
    <th>Result</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>True</td>
    <td>True</td>
    <td>True</td>
  </tr>
   <tr>
    <td>True</td>
    <td>False</td>
    <td>True</td>
  </tr>
   <tr>
    <td>False</td>
    <td>True</td>
    <td>True</td>
  </tr>
  <tr>
    <td>False</td>
    <td>False</td>
    <td>False</td>
  </tr>      
  <tr>
    <td>True</td>  
    <td>Expression</td>
    <td>True</td>
  </tr>
  <tr>
    <td>False</td>  
    <td>Expression</td>
    <td>Expression</td>
  </tr>
    
   </tbody>
</table>

In [68]:
num1 = 5
num2 = 3
num3 = 2
print(num1>num2 or num2>num3)

num1 = 5
num2 = 3
num3 = 2
print(num1>num2 or num2<num3)

num1 = 5
num2 = 3
num3 = 2
print(num1<num2 or num2>num3)

num1 = 5
num2 = 3
num3 = 2
print(num1<num2 and num2<num3)

True
True
True
False

<h4>not</h4>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operand</th>
    <th>Result</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>True</td>
    <td>False</td>
  </tr>
   <tr>
    <td>False</td>
    <td>True</td>
  </tr>
   </tbody>
</table>

In [69]:
num1 = 5
num2 = 3
print(not(num1>num2))

num1 = 5
num2 = 3
print(not(num1<num2))

False
True

<h3>Assingment Operators</h3>
<p>Assingment operators are used to arithmetic operations while assigning a valueto a variable </p>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operator</th>
    <th>Example</th>  
    <th>Equivalent Expression (m=15)</th>
    <th>Result</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>=</td>
    <td>y=a+b</td>
    <td>y = 10 + 20</td>
    <td>30</td>
  </tr>
   <tr>
    <td>+=</td>
    <td>m+=10</td>
    <td>m = m + 10</td>
    <td>25</td>
  </tr>
   <tr>
    <td>-=</td>
    <td>m-=10</td>
    <td>m = m - 10</td>
    <td>5</td>
  </tr>
  <tr>
    <td>*=</td>
    <td>m*=10</td>
    <td>m = m * 10</td>
    <td>150</td>
  </tr>
  <tr>
    <td>/=</td>
    <td>m/=10</td>
    <td>m = m / 10</td>
    <td>1.5</td>
  </tr>
  <tr>
    <td>%=</td>
    <td>m%=10</td>
    <td>m = m % 10</td>
    <td>5</td>
  </tr>
  <tr>
    <td>**=</td>
    <td>m**=10</td>
    <td>m = m**2 or m=m<sup>2</sup></td>
    <td>225</td>
  </tr>
  <tr>
    <td>//=</td>
    <td>m//=10</td>
    <td>m = m // 10</td>
    <td>1</td>
  </tr>
   </tbody>
</table>

In [70]:
num1 = 15
num1 += 10
print(num1)

num1 = 15
num1 -= 10
print(num1)

num1 = 15
num1 *= 10
print(num1)

num1 = 15
num1 /= 10
print(num1)

num1 = 15
num1 %= 10
print(num1)

num1 = 15
num1 **= 2
print(num1)

num1 = 15
num1 //= 10
print(num1)

25
5
150
1.5
5
225
1

<h2>Bitwise Operators</h2>
<p>Bitwise operators are used to perfom operations at binary digit level. These operators are not commonly used and are used only in special applications where optimized use of storage required.</p>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operator</th>
    <th>Meaning</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>&</td>
    <td>Bitwise AND</td>
  </tr>
   <tr>
    <td>|</td>
    <td>Bitwise OR</td>
  </tr>
   <tr>
    <td>^</td>
    <td>Bitwise XOR</td>
  </tr>
  <tr>
    <td>~</td>
    <td>Bitwise inversion (one's complement)</td>
  </tr>
   <tr>
    <td> << </td>
    <td>Shifts the bits to left / Bitwise left shift</td>
  </tr>
        
  <tr>
    <td> >>  </td>
    <td>Shifts the bits to right / Bitwise right shift</td>
        </tr>
   </tbody>
</table>

<h4>Biwise AND & </h4>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operand 1</th>
    <th>Operand 2</th>
    <th>Result (Operand 1 & Operand 2)</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>True 1</td>
    <td>True 1</td>
    <td>True 1</td>
  </tr>
   <tr>
    <td>True 1</td>
    <td>False 0 </td>
    <td>False 0</td>
  </tr>
   <tr>
    <td>False 0</td>
    <td>True 1</td>
    <td>False 0</td>
  </tr>
  <tr>
    <td>False 0</td>
    <td>False 0 </td>
    <td>False 0</td>
  </tr>      
   </tbody>
</table>



<h4>Biwise OR | </h4>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operand 1</th>
    <th>Operand 2</th>
    <th>Result (Operand 1 | Operand 2)</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>True 1</td>
    <td>True 1</td>
    <td>True 1</td>
  </tr>
   <tr>
    <td>True 1</td>
    <td>False 0 </td>
    <td>True 1</td>
  </tr>
   <tr>
    <td>False 0</td>
    <td>True 1</td>
    <td>True 1</td>
  </tr>
  <tr>
    <td>False 0</td>
    <td>False 0 </td>
    <td>False 0</td>
  </tr>      
   </tbody>
</table>


<h4>Biwise XOR ^ </h4>

 <table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operand 1</th>
    <th>Operand 2</th>
    <th>Result (Operand 1 ^ Operand 2)</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>True 1</td>
    <td>True 1</td>
    <td>False 0</td>
  </tr>
   <tr>
    <td>True 1</td>
    <td>False 0 </td>
    <td>True 1</td>
  </tr>
   <tr>
    <td>False 0</td>
    <td>True 1</td>
    <td>True 1</td>
  </tr>
  <tr>
    <td>False 0</td>
    <td>False 0 </td>
    <td>False 0</td>
  </tr>      
   </tbody>
</table>

<h4>Bitwse NOT ~</h4>

<table style="margin-right:auto;margin-left:0px">
   <thead>
  <tr>
    <th>Operand</th>
    <th>Result</th>
  </tr>
  </thead>
    <tbody>
  <tr>
    <td>True 1</td>
    <td>False 0</td>
  </tr>
   <tr>
    <td>False 0</td>
    <td>True 1</td>
  </tr>
   </tbody>
</table>


<h4>Bitwise Left Shift << </h4>
a = 10

<p>00001010</p>
<p>After Left shift</p>

<p>00101000</p>


<h4>Bitwise Right Shift >> </h4>
a = 10

<p>00001010</p>
<p>After Right shift</p>

<p>00000010</p>

In [71]:
a = 10
b = 15

print('~a =',~a)
print('a&b =',a&b)
print('a|b =',a|b)
print('a^b =',a^b)
print('a<<b =',a<<2)
print('a>>b =',a>>2)

~a = -11
a&b = 10
a|b = 15
a^b = 5
a<<b = 40
a>>b = 2

<h2>Membership Operators</h2>
<p>The membership operators are useful to test for membership in a sequence such as string,list,tuples and dictionaries</p>

<p>There are two type of Membership operator</p>

<ol>
	<li><h4>in</h4></li>
    <li><h4>not in</h4></li>
</ol>

<h4>in<h4>
    

<p>This operators is used to find an element in the specified sequece. it returns <code>True</code> if elements found in the specified sequence else it return <code>False</code> </p>

In [72]:
name = "Welcome to TechSunami"
"to" in name

True

In [73]:
name = "Welcome to TechSunami"
"if" in name

False

<h4>not in<h4>
    

<p>This operators works in reverse manner for in operator. it returns <code>True</code> if elements not found in the specified sequence and if element is found then it return <code>False</code> </p>

In [74]:
name = "Welcome to TechSunami"
"if" not in name

True

In [75]:
name = "Welcome to TechSunami"
"to" not in name

False

<h2>Identity Operators</h2>
<p>The identity operators compare the memory locations of two objects. Hence, it is possible to know whether two objects are same or not</p>

<p>There are two type of identity operator</p>

<ol>
	<li><h4>is</h4></li>
    <li><h4>is not</h4></li>
</ol>

<h4>is<h4>
    

<p>This operators is used to compare whether two objects are same or not. it returns <code>True</code> if memory location of two objects are same else it return <code>False</code> </p>

In [76]:
num1 = 10
num2 = 10
print(num1 is num2)

True

In [77]:
num1 = 10
num2 = 20
print(num1 is num2)

False

<h4>is not<h4>
    

<p>This operators works in reverse manner for <strong>is</strong> operator. it returns <code>True</code> if memory location of two objects are not same if they are same it return <code>False</code> </p>

In [78]:
num1 = 10
num2 = 10
print(num1 is not num2)

False

In [79]:
num1 = 10
num2 = 20
print(num1 is not num2)

True