## Python Tuple

<p>1. Tuple:- A tuple contains a group of elements which can be same or different types</p>
<p>2. Tuple are immutable.</p>
<p>3.It is similar to list but tuples are read-only which we can not modify it's element.</p>
<p>4.Tuples are used to store tha data which should not be modified.</p>
<p>5.It occupies less memory compare to list.</p>
<p>6. Tuples are represeted using paranthese ().</p>

In [1]:
# Example:- 
a = (1,2,3,-5,2.5,"TechSunami")
print(f"Type of a: {type(a)}")

Type of a: <class 'tuple'>

## Creating Tuple

<p>We can create tuple by writing elements seperated by commas inside paranthese.</p>

In [2]:
#Example
a = (20) #with one elements
b = (20,) #with one elements

print(f'Type of a{type(a)}')
print(f'Type of b{type(b)}')

Type of a<class 'int'>
Type of b<class 'tuple'>

In [3]:
#Example 
b = (10,20,30,-51,2.5,"TechSunami") #with multiple elements
print(f'Type of b{type(b)}')

Type of b<class 'tuple'>

## Index

<p>An index represents the position number of an tuple's element. The index start from 0 on wards and written inside square braces.</p>

In [4]:
# Example
b = (10,20,-50,21.3,"TechSunami")


<table>
   <tbody>
     <tr>
       <td>b[0]</td>
       <td>10</td>
     </tr>
     <tr>
       <td>b[1]</td>
       <td>20</td>
     </tr>
     <tr>
       <td>b[2]</td>
       <td>-50</td>
     </tr>
     <tr>
       <td>b[3]</td>
       <td>21.3</td>
     </tr>
     <tr>
       <td>b[4]</td>
       <td>TechSunami</td>
     </tr>
  </tbody>
</table>

## Accessing Tuple's Element

In [5]:
a = (10,20,-50,21.3, "TechSunami")

<table>
   <tbody>
     <tr>
       <td>10</td>
       <td>20</td>
       <td>-50</td>
       <td>21.3</td>
       <td>TechSunami</td>
      </tr>
      <tr>
       <td>a[0]</td>
       <td>a[1]</td>
       <td>a[2]</td>
       <td>a[3]</td>
       <td>a[4]</td>
      </tr>
  </tbody>
</table>

## Accessing Tuple using While loop

In [7]:
# without index number

a = (10,20,-50,21.3, "TechSunami")
i = 0
while i < len(a):
    print(a[i])
    i+= 1

10
20
-50
21.3
TechSunami

In [8]:
# with index number

a = (10,20,-50,21.3, "TechSunami")
i = 0
while i < len(a):
    print(i,a[i])
    i+= 1

0 10
1 20
2 -50
3 21.3
4 TechSunami

## Slicing on Tuple

<p>Slicing on Tuple can be used to retrieve a piece of the Tuple that contains a group of elements. Slicing is useful to retrieve a range of elements</p>
<p>Syntax:- new_tuple = tuple_name[start:stop:stepsize]</p>

In [9]:
# Example:-

a = (100,200,300,400,500,600)
b = a[1:4]  # from 1st position to 4th position

In [10]:
b = a[0:]  # from 0th position to last position

In [11]:
b = a[0:4]  # from 0th position to 4th position

In [12]:
b = a[-4:] # last 4 elements

In [13]:
b = a[0:7:2] # from 0th position to 6th position

In [14]:
b = a[-5:-3] # last 5 element with [-5-(-3)] = 2 elements towards right

## Tuple Concatenation
<p>+ operator is used to do concatenation the Tuple.</p>

In [15]:
# Example
a = (1,2,3,4)
b = (10,20,30,40)
print(a+b)

(1, 2, 3, 4, 10, 20, 30, 40)

## Repetition of Tuple
<p>* operator is used to do concatenation the Tuple.</p>

In [16]:
b = (10,20,30,40)
result = b * 3
print(result)

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

## Aliasing Tuple

<p>Aliasing means giving another name to the existing object. It doesn't mean copying </p>

In [17]:
a = (1,2,3,4)
b = a

<p>Modification in a will affect b and vice versa.</p>

In [19]:
# Example :-
a = (1,2,3,4)
b = a

## Copying Tuple

<p>We can copy elements of tuple into another tuple using slic.</p>

In [20]:
a = (1,2,3,4,5)
b = a
b = a[1:4]
print(f'a:{a}')
print(f'b:{b}')

print(f'id of a:{id(a)}')
print(f'id of b:{id(b)}')

a:(1, 2, 3, 4, 5)
b:(2, 3, 4)
id of a:140080254173968
id of b:140080228386112

## Nested Tuple

<p>A tuple within tuple is called as nested tuple or nesting of a tuple.</p>

In [21]:
# Example:- 
a = (10,20,30,(100,200))
b = ((10,20,30),(100,200,300))

In [22]:
a = (10,20,30,(100,200))
print(a[0])
print(a[1])
print(a[2])
print(a[3][0])
print(a[3][1])

10
20
30
100
200

## Tuple () function 

<p>This is used to create a tuple. It return a immutable tuple of elements.</p>

<p>Syntax:- tuple()</p>

tuple(iterable_object)

In [23]:
# Example:-
tuple("TechSunami")

('T', 'e', 'c', 'h', 'S', 'u', 'n', 'a', 'm', 'i')

<p>We can use tuple and range function to create a tuple.</p>
<p>Syntax:- tuple(range(start,stop,stepsize))</p>

In [24]:
# Example:-
tuple(range(0,5))

(0, 1, 2, 3, 4)

In [25]:
tuple(range(0,5,2))

(0, 2, 4)