## Python List

<p>1. A list reperesents a group of elements.</p>
<p>2. Lists are very similar to array but there is major diffrence, an array can store only one type of elements where as a list can store diffrent type of elements.</p>
<p>3. Lists are mutable so we can modify it's element.</p>

<p>4. Lists are mutable so we can modfiy it's element.</p>
<p>5. Lists are dynamic which means size is not fixed.</p>
<p>6. Lists are reperesented using square bracket [ ].</p>

In [1]:
# Example :- 
a = [10,20,-50,21.3, "TechSunami"]

## Creating a List

<p>A Lists is similar to an array that consists of a group of elements or items</p>
<p>Syntax:- list_name = [element1, element2]</p>

In [2]:
#Example :-
a = [10,20,-50,21.3, "TechSunami"]

## Index

<p>An index represents the position number of an list's element. The index start from 0 on wards and written inside square braces</p>

<table>
   <tbody>
     <tr>
       <td>a[0]</td>
       <td>10</td>
     </tr>
     <tr>
       <td>a[1]</td>
       <td>20</td>
     </tr>
     <tr>
       <td>a[2]</td>
       <td>-50</td>
     </tr>
     <tr>
       <td>a[3]</td>
       <td>21.3</td>
     </tr>
     <tr>
       <td>a[4]</td>
       <td>TechSunami</td>
     </tr>
  </tbody>
</table>

<table>
   <tbody>
     <tr>
       <td>a[-5]</td>
       <td>10</td>
     </tr>
     <tr>
       <td>a[-4]</td>
       <td>20</td>
     </tr>
     <tr>
       <td>a[-3]</td>
       <td>-50</td>
     </tr>
     <tr>
       <td>a[-2]</td>
       <td>21.3</td>
     </tr>
     <tr>
       <td>a[-1]</td>
       <td>TechSunami</td>
     </tr>
  </tbody>
</table>

## Accessing List's Element

In [3]:
a = [10,20,-50,21.3, "TechSunami"]

<table>
   <tbody>
     <tr>
       <td>10</td>
       <td>20</td>
       <td>-50</td>
       <td>21.3</td>
       <td>TechSunami</td>
      </tr>
      <tr>
       <td>a[0]</td>
       <td>a[1]</td>
       <td>a[2]</td>
       <td>a[3]</td>
       <td>a[4]</td>
      </tr>
  </tbody>
</table>

## Modifying or Updating Element

<p>Lists are mutable so we can modify it's element.</p>

In [4]:
a = [10,20,-50,21.3, "TechSunami"]
a[1] = 40

In [5]:
print(a)

[10, 40, -50, 21.3, 'TechSunami']

## Accessing List using For loop

In [6]:
# without index number

a = [10,20,-50,21.3, "TechSunami"]
for each_element in a:
    print(each_element)

10
20
-50
21.3
TechSunami

In [7]:
# with index number

a = [10,20,-50,21.3, "TechSunami"]
for each_element in range(len(a)):
    print(each_element,a[each_element])

0 10
1 20
2 -50
3 21.3
4 TechSunami

## Accessing List using While loop

In [8]:
# without index number

a = [10,20,-50,21.3, "TechSunami"]
i = 0
while i < len(a):
    print(a[i])
    i+= 1

10
20
-50
21.3
TechSunami

In [11]:
# with index number

a = [10,20,-50,21.3, "TechSunami"]
i = 0
while i < len(a):
    print(i,a[i])
    i+= 1

0 10
1 20
2 -50
3 21.3
4 TechSunami

## List Method

<p><code>append()</code> This method is used to add an element at the end of the existing list.</p>
<p>Syntax:- list_name.append(new_element)</p>

In [13]:
# Example :-
a = [10,20,-50,21.3, "TechSunami"]
print(a) # before appending element
a.append(200)
print(a) # after appending element

[10, 20, -50, 21.3, 'TechSunami']
[10, 20, -50, 21.3, 'TechSunami', 200]

<p><code>insert()</code> This method is used to insert an element in a partiular position of the existing list.</p>

<p>Syntax:- list_name.insert(position_number,new_element)</p>

In [15]:
a = [10,20,-50,21.3, "TechSunami"]
print(a) # before insert element
a.insert(3,'TechBrother')
print(a) # after insert element

[10, 20, -50, 21.3, 'TechSunami']
[10, 20, -50, 'TechBrother', 21.3, 'TechSunami']

<p><code>pop()</code> This method is used to remove last element from the existing list.</p>

<p>Syntax:- list_name.pop()</p>

In [17]:
a = [10,20,-50,21.3, "TechSunami"]
print(a) # before removing element
a = [10,20,-50,21.3, "TechSunami"]
a.pop()
print(a) # after removing element

[10, 20, -50, 21.3, 'TechSunami']
[10, 20, -50, 21.3]

<p><code>pop(n)</code> This method is used to remove an element specified by position number, from the existing list and returns removed element.</p>

<p>Syntax:- list_name.pop(position_number)</p>

In [18]:
a = [10,20,-50,21.3, "TechSunami"]
print(a) # before removing element
a.pop(3)
print(a) # after removing element

[10, 20, -50, 21.3, 'TechSunami']
[10, 20, -50, 'TechSunami']

<p><code>remove()</code> This method is used to remove first occurrence of given element from the existing list. if it doesn't found the element, shows valueError</p>

<p>Syntax:- list_name.remove(element)</p>

In [20]:
a = [10,20,10,-50,21.3, "TechSunami"]
print(a) # before removing element
a.remove(10)
print(a) # after removing element

[10, 20, 10, -50, 21.3, 'TechSunami']
[20, 10, -50, 21.3, 'TechSunami']

In [21]:
a = [10,20,10,-50,21.3, "TechSunami"]
print(a) # before removing element
a.remove('coders')

[10, 20, 10, -50, 21.3, 'TechSunami']

ValueError: list.remove(x): x not in list

<p><code>index()</code> This method returns position number of first occurrence of given element in the list. if doesn't found the element, shows valueError</p>

<p>Syntax:- list_name.index(element)</p>

In [25]:
a = [10,20,10,-50,21.3, "TechSunami"]
a.index(10)

0

<p><code>reverse()</code> This method is used the order of elements in the list</p>

<p>Syntax:- list_name.reverse()</p>

In [27]:
a = [10,20,10,-50,21.3, "TechSunami"]
print(a) # before reverse 
a.reverse()
print(a) # after reverse

[10, 20, 10, -50, 21.3, 'TechSunami']
['TechSunami', 21.3, -50, 10, 20, 10]

<p><code>extend()</code> This method is used to append another list or iterable objects at the end of the list.</p>

<p>Syntax:- list_name.extend(created_list)</p>

In [29]:
a = [10,20,10,-50,21.3, "TechSunami"]
b = [100,200,300]
print(a) # before extending
a.extend(b)
print(a) # after extending

[10, 20, 10, -50, 21.3, 'TechSunami']
[10, 20, 10, -50, 21.3, 'TechSunami', 100, 200, 300]

<p><code>count()</code> This method returns number of occurence of a specified element in the list</p>

<p>Syntax:- list_name.count(specified_element)</p>

In [31]:
a = [10,20,10,-50,21.3, "TechSunami"]
num = a.count(10)
print(num)

2

<p><code>sort()</code> This method is used to sort the elements of the list into ascending order.</p>

<p>Syntax:- list_name.sort()</p>

In [34]:
a = [10,20,10,-50,21.3, 100]
print(a) # before sort 
a.sort()
print(a) # after sort

[10, 20, 10, -50, 21.3, 100]
[-50, 10, 10, 20, 21.3, 100]

<p><code>clear()</code> This method is used to delete all the elements from the list</p>

<p>Syntax:- list_name.clear()</p>

In [35]:
a = [10,20,10,-50,21.3, "TechSunami"]
print(a) # before deleting
a.clear()
print(a) # after deleting

[10, 20, 10, -50, 21.3, 'TechSunami']
[]

## Slicing on List

<p>Slicing on list can be used to retrieve a piece of the list that contains a group of elements. Slicing is useful to retrieve a range of elements</p>
<p>Syntax:- new_list = list_name[start:stop:stepsize]</p>

In [5]:
# Example:-

a = [100,200,300,400,500,600]
b = a[1:4]  # from 1st position to 4th position

In [4]:
b = a[0:]  # from 0th position to last position

In [6]:
b = a[0:4]  # from 0th position to 4th position

In [9]:
b = a[-4:] # last 4 elements

In [10]:
b = a[0:7:2] # from 0th position to 6th position

In [12]:
b = a[-5:-3] # last 5 element with [-5-(-3)] = 2 elements towards right

## List Concatenation
<p>+ operator is used to do concatenation the list.</p>

In [19]:
# Example
a = [1,2,3,4]
b = [10,20,30,40]
print(a+b)

[1, 2, 3, 4, 10, 20, 30, 40]

## Repetition of List
<p>* operator is used to do concatenation the list.</p>

In [22]:
b = [10,20,30,40]
result = b * 3
print(result)

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

## Aliasing List

<p>Aliasing means giving another name to the existing object. It doesn't mean copying </p>

In [23]:
a = [1,2,3,4]
b = a

<p>Modification in a will affect b and vice versa.</p>

In [25]:
# Example :-
a = [1,2,3,4]
b = a

In [27]:
# After modifying
a[1]= 20
print(a)
print(b)

[1, 20, 3, 4]
[1, 20, 3, 4]

## Copying List

<p>1. <code>copy()</code> method is used to copy all the elements of a list to another list.</p>
<p>2. When we copy a list a separate copy of all the elements is stored in another list. Both the list are independent.</p>

In [28]:
a = [1,2,3,4]
b = a.copy()

<p>Modification in a will not affect b and vice versa.</p>

In [30]:
# After modifying
a[1] = 20
print(a)
print(b)

[1, 20, 3, 4]
[1, 2, 3, 4]

## Cloning List

<p>1. We can clone a list into another list using slicing</p>
<p>2. When we clone a list a separate copy of all the elements is sorted in another list. Both the list are independent.</p>

In [31]:
a = [1,2,3,4]
b = a[:]

<p>Modification in a will not affect b and vice versa</p>

In [32]:
# After modifying
a[1] = 20
print(a)
print(b)

[1, 20, 3, 4]
[1, 2, 3, 4]

## Nested List

<p>A list within list is called as nested list or nesting of a list.</p>

In [1]:
# Example:- 
a = [10,20,30,[100,200]]
b = [[10,20,30],[100,200,300]]

### Index

In [3]:
a = [10,20,30,[100,200]]
print(a[0])
print(a[1])
print(a[2])
print(a[3][0])
print(a[3][1])

10
20
30
100
200

### Modifying Nested List

In [5]:
a = [10,20,30,[100,200]]
a[1] = 50
a[3][0] = 300
print(f"a:{a}")

a:[10, 50, 30, [300, 200]]

## List () function 

<p>This is used to create a list. It return a mutable list of elements.</p>

<p>Syntax:- list()</p>

list(iterable_object)

In [7]:
# Example:-
list("TechSunami")

['T', 'e', 'c', 'h', 'S', 'u', 'n', 'a', 'm', 'i']

<p>We can use list and range function to create a list.</p>
<p>Syntax:- list(range(start,stop,stepsize))</p>

In [10]:
# Example:-
list(range(0,5))

[0, 1, 2, 3, 4]

In [11]:
list(range(0,5,2))

[0, 2, 4]